doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport' content='width=device-width, initial-scale=1')
    title List
  body
    h1 Lists
    ul
        each item in lists
            li=item.username
    .userList
    img(src='./images/Card.png')
    img(src='./images/AddCard.png')
